 @charset "UTF-8";
@-webkit-keyframes typed {
  /* string 1, char 1 */
  0%, 0.5436623094% {
    content: "C";
  }
  /* string 1, char 2 */
  0.5446623094%, 1.0883246187% {
    content: "CS";
  }
  /* string 1, char 3 */
  1.0893246187%, 1.6329869281% {
    content: "CSS";
  }
  /* string 1, char 4 */
  1.6339869281%, 2.1776492375% {
    content: "CSS ";
  }
  /* string 1, char 5 */
  2.1786492375%, 2.7223115468% {
    content: "CSS t";
  }
  /* string 1, char 6 */
  2.7233115468%, 3.2669738562% {
    content: "CSS ty";
  }
  /* string 1, char 7 */
  3.2679738562%, 3.8116361656% {
    content: "CSS typ";
  }
  /* string 1, char 8 */
  3.8126361656%, 4.3562984749% {
    content: "CSS type";
  }
  /* string 1, char 9 */
  4.3572984749%, 4.9009607843% {
    content: "CSS typed";
  }
  /* string 1, char 10 */
  4.9019607843%, 5.4456230937% {
    content: "CSS typed ";
  }
  /* string 1, char 11 */
  5.4466230937%, 5.9902854031% {
    content: "CSS typed t";
  }
  /* string 1, char 12 */
  5.9912854031%, 6.5349477124% {
    content: "CSS typed th";
  }
  /* string 1, char 13 */
  6.5359477124%, 7.0796100218% {
    content: "CSS typed thi";
  }
  /* string 1, char 14 */
  7.0806100218%, 7.6242723312% {
    content: "CSS typed this";
  }
  /* string 1, char 15 */
  7.6252723312%, 8.1689346405% {
    content: "CSS typed this ";
  }
  /* string 1, char 16 */
  8.1699346405%, 8.7135969499% {
    content: "CSS typed this s";
  }
  /* string 1, char 17 */
  8.7145969499%, 9.2582592593% {
    content: "CSS typed this st";
  }
  /* string 1, char 18 */
  9.2592592593%, 9.8029215686% {
    content: "CSS typed this str";
  }
  /* string 1, char 19 */
  9.8039215686%, 10.347583878% {
    content: "CSS typed this stri";
  }
  /* string 1, char 20 */
  10.348583878%, 10.8922461874% {
    content: "CSS typed this strin";
  }
  /* string 1, char 21 */
  10.8932461874%, 11.4369084967% {
    content: "CSS typed this string";
  }
  /* string 1, char 22 */
  11.4379084967%, 23.310546841% {
    content: "CSS typed this string!";
  }
  /* string 1, char 23 */
  23.311546841%, 23.7462766885% {
    content: "CSS typed this string";
  }
  /* string 1, char 24 */
  23.7472766885%, 24.1820065359% {
    content: "CSS typed this strin";
  }
  /* string 1, char 25 */
  24.1830065359%, 24.6177363834% {
    content: "CSS typed this stri";
  }
  /* string 1, char 26 */
  24.6187363834%, 25.0534662309% {
    content: "CSS typed this str";
  }
  /* string 1, char 27 */
  25.0544662309%, 25.4891960784% {
    content: "CSS typed this st";
  }
  /* string 1, char 28 */
  25.4901960784%, 25.9249259259% {
    content: "CSS typed this s";
  }
  /* string 1, char 29 */
  25.9259259259%, 26.3606557734% {
    content: "CSS typed this ";
  }
  /* string 1, char 30 */
  26.3616557734%, 26.7963856209% {
    content: "CSS typed this";
  }
  /* string 1, char 31 */
  26.7973856209%, 27.2321154684% {
    content: "CSS typed thi";
  }
  /* string 1, char 32 */
  27.2331154684%, 27.6678453159% {
    content: "CSS typed th";
  }
  /* string 1, char 33 */
  27.6688453159%, 28.1035751634% {
    content: "CSS typed t";
  }
  /* string 1, char 34 */
  28.1045751634%, 28.5393050109% {
    content: "CSS typed ";
  }
  /* string 1, char 35 */
  28.5403050109%, 28.9750348584% {
    content: "CSS typed";
  }
  /* string 1, char 36 */
  28.9760348584%, 29.4107647059% {
    content: "CSS type";
  }
  /* string 1, char 37 */
  29.4117647059%, 29.8464945534% {
    content: "CSS typ";
  }
  /* string 1, char 38 */
  29.8474945534%, 30.2822244009% {
    content: "CSS ty";
  }
  /* string 1, char 39 */
  30.2832244009%, 30.7179542484% {
    content: "CSS t";
  }
  /* string 1, char 40 */
  30.7189542484%, 31.1536840959% {
    content: "CSS ";
  }
  /* string 1, char 41 */
  31.1546840959%, 31.5894139434% {
    content: "CSS";
  }
  /* string 1, char 42 */
  31.5904139434%, 32.0251437908% {
    content: "CS";
  }
  /* string 1, char 43 */
  32.0261437908%, 32.4608736383% {
    content: "C";
  }
  /* string 1, char 44 */
  32.4618736383%, 37.907496732% {
    content: "​";
  }
  /* string 2, char 1 */
  37.908496732%, 38.4521590414% {
    content: "I";
  }
  /* string 2, char 2 */
  38.4531590414%, 38.9968213508% {
    content: "It";
  }
  /* string 2, char 3 */
  38.9978213508%, 39.5414836601% {
    content: "It ";
  }
  /* string 2, char 4 */
  39.5424836601%, 40.0861459695% {
    content: "It t";
  }
  /* string 2, char 5 */
  40.0871459695%, 40.6308082789% {
    content: "It ty";
  }
  /* string 2, char 6 */
  40.6318082789%, 41.1754705882% {
    content: "It typ";
  }
  /* string 2, char 7 */
  41.1764705882%, 41.7201328976% {
    content: "It type";
  }
  /* string 2, char 8 */
  41.7211328976%, 42.264795207% {
    content: "It typed";
  }
  /* string 2, char 9 */
  42.265795207%, 42.8094575163% {
    content: "It typed ";
  }
  /* string 2, char 10 */
  42.8104575163%, 43.3541198257% {
    content: "It typed t";
  }
  /* string 2, char 11 */
  43.3551198257%, 43.8987821351% {
    content: "It typed th";
  }
  /* string 2, char 12 */
  43.8997821351%, 44.4434444444% {
    content: "It typed thi";
  }
  /* string 2, char 13 */
  44.4444444444%, 44.9881067538% {
    content: "It typed this";
  }
  /* string 2, char 14 */
  44.9891067538%, 45.5327690632% {
    content: "It typed this ";
  }
  /* string 2, char 15 */
  45.5337690632%, 46.0774313725% {
    content: "It typed this o";
  }
  /* string 2, char 16 */
  46.0784313725%, 46.6220936819% {
    content: "It typed this on";
  }
  /* string 2, char 17 */
  46.6230936819%, 47.1667559913% {
    content: "It typed this one";
  }
  /* string 2, char 18 */
  47.1677559913%, 47.7114183007% {
    content: "It typed this one ";
  }
  /* string 2, char 19 */
  47.7124183007%, 48.25608061% {
    content: "It typed this one t";
  }
  /* string 2, char 20 */
  48.25708061%, 48.8007429194% {
    content: "It typed this one to";
  }
  /* string 2, char 21 */
  48.8017429194%, 49.3454052288% {
    content: "It typed this one too";
  }
  /* string 2, char 22 */
  49.3464052288%, 49.8900675381% {
    content: "It typed this one too ";
  }
  /* string 2, char 23 */
  49.8910675381%, 61.7637058824% {
    content: "It typed this one too 😱";
  }
  /* string 2, char 24 */
  61.7647058824%, 62.1994357298% {
    content: "It typed this one too ";
  }
  /* string 2, char 25 */
  62.2004357298%, 62.6351655773% {
    content: "It typed this one too";
  }
  /* string 2, char 26 */
  62.6361655773%, 63.0708954248% {
    content: "It typed this one to";
  }
  /* string 2, char 27 */
  63.0718954248%, 63.5066252723% {
    content: "It typed this one t";
  }
  /* string 2, char 28 */
  63.5076252723%, 63.9423551198% {
    content: "It typed this one ";
  }
  /* string 2, char 29 */
  63.9433551198%, 64.3780849673% {
    content: "It typed this one";
  }
  /* string 2, char 30 */
  64.3790849673%, 64.8138148148% {
    content: "It typed this on";
  }
  /* string 2, char 31 */
  64.8148148148%, 65.2495446623% {
    content: "It typed this o";
  }
  /* string 2, char 32 */
  65.2505446623%, 65.6852745098% {
    content: "It typed this ";
  }
  /* string 2, char 33 */
  65.6862745098%, 66.1210043573% {
    content: "It typed this";
  }
  /* string 2, char 34 */
  66.1220043573%, 66.5567342048% {
    content: "It typed thi";
  }
  /* string 2, char 35 */
  66.5577342048%, 66.9924640523% {
    content: "It typed th";
  }
  /* string 2, char 36 */
  66.9934640523%, 67.4281938998% {
    content: "It typed t";
  }
  /* string 2, char 37 */
  67.4291938998%, 67.8639237473% {
    content: "It typed ";
  }
  /* string 2, char 38 */
  67.8649237473%, 68.2996535948% {
    content: "It typed";
  }
  /* string 2, char 39 */
  68.3006535948%, 68.7353834423% {
    content: "It type";
  }
  /* string 2, char 40 */
  68.7363834423%, 69.1711132898% {
    content: "It typ";
  }
  /* string 2, char 41 */
  69.1721132898%, 69.6068431373% {
    content: "It ty";
  }
  /* string 2, char 42 */
  69.6078431373%, 70.0425729847% {
    content: "It t";
  }
  /* string 2, char 43 */
  70.0435729847%, 70.4783028322% {
    content: "It ";
  }
  /* string 2, char 44 */
  70.4793028322%, 70.9140326797% {
    content: "It";
  }
  /* string 2, char 45 */
  70.9150326797%, 71.3497625272% {
    content: "I";
  }
  /* string 2, char 46 */
  71.3507625272%, 76.7963856209% {
    content: "​";
  }
  /* string 3, char 1 */
  76.7973856209%, 77.3410479303% {
    content: "E";
  }
  /* string 3, char 2 */
  77.3420479303%, 77.8857102397% {
    content: "En";
  }
  /* string 3, char 3 */
  77.8867102397%, 78.430372549% {
    content: "Enj";
  }
  /* string 3, char 4 */
  78.431372549%, 78.9750348584% {
    content: "Enjo";
  }
  /* string 3, char 5 */
  78.9760348584%, 79.5196971678% {
    content: "Enjoy";
  }
  /* string 3, char 6 */
  79.5206971678%, 80.0643594771% {
    content: "Enjoy ";
  }
  /* string 3, char 7 */
  80.0653594771%, 91.9379978214% {
    content: "Enjoy ☕";
  }
  /* string 3, char 8 */
  91.9389978214%, 92.3737276688% {
    content: "Enjoy ";
  }
  /* string 3, char 9 */
  92.3747276688%, 92.8094575163% {
    content: "Enjoy";
  }
  /* string 3, char 10 */
  92.8104575163%, 93.2451873638% {
    content: "Enjo";
  }
  /* string 3, char 11 */
  93.2461873638%, 93.6809172113% {
    content: "Enj";
  }
  /* string 3, char 12 */
  93.6819172113%, 94.1166470588% {
    content: "En";
  }
  /* string 3, char 13 */
  94.1176470588%, 94.5523769063% {
    content: "E";
  }
  /* string 3, char 14 */
  94.5533769063%, 100% {
    content: "​";
  }
}
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.5436623094% {
    content: "C";
  }
  /* string 1, char 2 */
  0.5446623094%, 1.0883246187% {
    content: "CS";
  }
  /* string 1, char 3 */
  1.0893246187%, 1.6329869281% {
    content: "CSS";
  }
  /* string 1, char 4 */
  1.6339869281%, 2.1776492375% {
    content: "CSS ";
  }
  /* string 1, char 5 */
  2.1786492375%, 2.7223115468% {
    content: "CSS t";
  }
  /* string 1, char 6 */
  2.7233115468%, 3.2669738562% {
    content: "CSS ty";
  }
  /* string 1, char 7 */
  3.2679738562%, 3.8116361656% {
    content: "CSS typ";
  }
  /* string 1, char 8 */
  3.8126361656%, 4.3562984749% {
    content: "CSS type";
  }
  /* string 1, char 9 */
  4.3572984749%, 4.9009607843% {
    content: "CSS typed";
  }
  /* string 1, char 10 */
  4.9019607843%, 5.4456230937% {
    content: "CSS typed ";
  }
  /* string 1, char 11 */
  5.4466230937%, 5.9902854031% {
    content: "CSS typed t";
  }
  /* string 1, char 12 */
  5.9912854031%, 6.5349477124% {
    content: "CSS typed th";
  }
  /* string 1, char 13 */
  6.5359477124%, 7.0796100218% {
    content: "CSS typed thi";
  }
  /* string 1, char 14 */
  7.0806100218%, 7.6242723312% {
    content: "CSS typed this";
  }
  /* string 1, char 15 */
  7.6252723312%, 8.1689346405% {
    content: "CSS typed this ";
  }
  /* string 1, char 16 */
  8.1699346405%, 8.7135969499% {
    content: "CSS typed this s";
  }
  /* string 1, char 17 */
  8.7145969499%, 9.2582592593% {
    content: "CSS typed this st";
  }
  /* string 1, char 18 */
  9.2592592593%, 9.8029215686% {
    content: "CSS typed this str";
  }
  /* string 1, char 19 */
  9.8039215686%, 10.347583878% {
    content: "CSS typed this stri";
  }
  /* string 1, char 20 */
  10.348583878%, 10.8922461874% {
    content: "CSS typed this strin";
  }
  /* string 1, char 21 */
  10.8932461874%, 11.4369084967% {
    content: "CSS typed this string";
  }
  /* string 1, char 22 */
  11.4379084967%, 23.310546841% {
    content: "CSS typed this string!";
  }
  /* string 1, char 23 */
  23.311546841%, 23.7462766885% {
    content: "CSS typed this string";
  }
  /* string 1, char 24 */
  23.7472766885%, 24.1820065359% {
    content: "CSS typed this strin";
  }
  /* string 1, char 25 */
  24.1830065359%, 24.6177363834% {
    content: "CSS typed this stri";
  }
  /* string 1, char 26 */
  24.6187363834%, 25.0534662309% {
    content: "CSS typed this str";
  }
  /* string 1, char 27 */
  25.0544662309%, 25.4891960784% {
    content: "CSS typed this st";
  }
  /* string 1, char 28 */
  25.4901960784%, 25.9249259259% {
    content: "CSS typed this s";
  }
  /* string 1, char 29 */
  25.9259259259%, 26.3606557734% {
    content: "CSS typed this ";
  }
  /* string 1, char 30 */
  26.3616557734%, 26.7963856209% {
    content: "CSS typed this";
  }
  /* string 1, char 31 */
  26.7973856209%, 27.2321154684% {
    content: "CSS typed thi";
  }
  /* string 1, char 32 */
  27.2331154684%, 27.6678453159% {
    content: "CSS typed th";
  }
  /* string 1, char 33 */
  27.6688453159%, 28.1035751634% {
    content: "CSS typed t";
  }
  /* string 1, char 34 */
  28.1045751634%, 28.5393050109% {
    content: "CSS typed ";
  }
  /* string 1, char 35 */
  28.5403050109%, 28.9750348584% {
    content: "CSS typed";
  }
  /* string 1, char 36 */
  28.9760348584%, 29.4107647059% {
    content: "CSS type";
  }
  /* string 1, char 37 */
  29.4117647059%, 29.8464945534% {
    content: "CSS typ";
  }
  /* string 1, char 38 */
  29.8474945534%, 30.2822244009% {
    content: "CSS ty";
  }
  /* string 1, char 39 */
  30.2832244009%, 30.7179542484% {
    content: "CSS t";
  }
  /* string 1, char 40 */
  30.7189542484%, 31.1536840959% {
    content: "CSS ";
  }
  /* string 1, char 41 */
  31.1546840959%, 31.5894139434% {
    content: "CSS";
  }
  /* string 1, char 42 */
  31.5904139434%, 32.0251437908% {
    content: "CS";
  }
  /* string 1, char 43 */
  32.0261437908%, 32.4608736383% {
    content: "C";
  }
  /* string 1, char 44 */
  32.4618736383%, 37.907496732% {
    content: "​";
  }
  /* string 2, char 1 */
  37.908496732%, 38.4521590414% {
    content: "I";
  }
  /* string 2, char 2 */
  38.4531590414%, 38.9968213508% {
    content: "It";
  }
  /* string 2, char 3 */
  38.9978213508%, 39.5414836601% {
    content: "It ";
  }
  /* string 2, char 4 */
  39.5424836601%, 40.0861459695% {
    content: "It t";
  }
  /* string 2, char 5 */
  40.0871459695%, 40.6308082789% {
    content: "It ty";
  }
  /* string 2, char 6 */
  40.6318082789%, 41.1754705882% {
    content: "It typ";
  }
  /* string 2, char 7 */
  41.1764705882%, 41.7201328976% {
    content: "It type";
  }
  /* string 2, char 8 */
  41.7211328976%, 42.264795207% {
    content: "It typed";
  }
  /* string 2, char 9 */
  42.265795207%, 42.8094575163% {
    content: "It typed ";
  }
  /* string 2, char 10 */
  42.8104575163%, 43.3541198257% {
    content: "It typed t";
  }
  /* string 2, char 11 */
  43.3551198257%, 43.8987821351% {
    content: "It typed th";
  }
  /* string 2, char 12 */
  43.8997821351%, 44.4434444444% {
    content: "It typed thi";
  }
  /* string 2, char 13 */
  44.4444444444%, 44.9881067538% {
    content: "It typed this";
  }
  /* string 2, char 14 */
  44.9891067538%, 45.5327690632% {
    content: "It typed this ";
  }
  /* string 2, char 15 */
  45.5337690632%, 46.0774313725% {
    content: "It typed this o";
  }
  /* string 2, char 16 */
  46.0784313725%, 46.6220936819% {
    content: "It typed this on";
  }
  /* string 2, char 17 */
  46.6230936819%, 47.1667559913% {
    content: "It typed this one";
  }
  /* string 2, char 18 */
  47.1677559913%, 47.7114183007% {
    content: "It typed this one ";
  }
  /* string 2, char 19 */
  47.7124183007%, 48.25608061% {
    content: "It typed this one t";
  }
  /* string 2, char 20 */
  48.25708061%, 48.8007429194% {
    content: "It typed this one to";
  }
  /* string 2, char 21 */
  48.8017429194%, 49.3454052288% {
    content: "It typed this one too";
  }
  /* string 2, char 22 */
  49.3464052288%, 49.8900675381% {
    content: "It typed this one too ";
  }
  /* string 2, char 23 */
  49.8910675381%, 61.7637058824% {
    content: "It typed this one too 😱";
  }
  /* string 2, char 24 */
  61.7647058824%, 62.1994357298% {
    content: "It typed this one too ";
  }
  /* string 2, char 25 */
  62.2004357298%, 62.6351655773% {
    content: "It typed this one too";
  }
  /* string 2, char 26 */
  62.6361655773%, 63.0708954248% {
    content: "It typed this one to";
  }
  /* string 2, char 27 */
  63.0718954248%, 63.5066252723% {
    content: "It typed this one t";
  }
  /* string 2, char 28 */
  63.5076252723%, 63.9423551198% {
    content: "It typed this one ";
  }
  /* string 2, char 29 */
  63.9433551198%, 64.3780849673% {
    content: "It typed this one";
  }
  /* string 2, char 30 */
  64.3790849673%, 64.8138148148% {
    content: "It typed this on";
  }
  /* string 2, char 31 */
  64.8148148148%, 65.2495446623% {
    content: "It typed this o";
  }
  /* string 2, char 32 */
  65.2505446623%, 65.6852745098% {
    content: "It typed this ";
  }
  /* string 2, char 33 */
  65.6862745098%, 66.1210043573% {
    content: "It typed this";
  }
  /* string 2, char 34 */
  66.1220043573%, 66.5567342048% {
    content: "It typed thi";
  }
  /* string 2, char 35 */
  66.5577342048%, 66.9924640523% {
    content: "It typed th";
  }
  /* string 2, char 36 */
  66.9934640523%, 67.4281938998% {
    content: "It typed t";
  }
  /* string 2, char 37 */
  67.4291938998%, 67.8639237473% {
    content: "It typed ";
  }
  /* string 2, char 38 */
  67.8649237473%, 68.2996535948% {
    content: "It typed";
  }
  /* string 2, char 39 */
  68.3006535948%, 68.7353834423% {
    content: "It type";
  }
  /* string 2, char 40 */
  68.7363834423%, 69.1711132898% {
    content: "It typ";
  }
  /* string 2, char 41 */
  69.1721132898%, 69.6068431373% {
    content: "It ty";
  }
  /* string 2, char 42 */
  69.6078431373%, 70.0425729847% {
    content: "It t";
  }
  /* string 2, char 43 */
  70.0435729847%, 70.4783028322% {
    content: "It ";
  }
  /* string 2, char 44 */
  70.4793028322%, 70.9140326797% {
    content: "It";
  }
  /* string 2, char 45 */
  70.9150326797%, 71.3497625272% {
    content: "I";
  }
  /* string 2, char 46 */
  71.3507625272%, 76.7963856209% {
    content: "​";
  }
  /* string 3, char 1 */
  76.7973856209%, 77.3410479303% {
    content: "E";
  }
  /* string 3, char 2 */
  77.3420479303%, 77.8857102397% {
    content: "En";
  }
  /* string 3, char 3 */
  77.8867102397%, 78.430372549% {
    content: "Enj";
  }
  /* string 3, char 4 */
  78.431372549%, 78.9750348584% {
    content: "Enjo";
  }
  /* string 3, char 5 */
  78.9760348584%, 79.5196971678% {
    content: "Enjoy";
  }
  /* string 3, char 6 */
  79.5206971678%, 80.0643594771% {
    content: "Enjoy ";
  }
  /* string 3, char 7 */
  80.0653594771%, 91.9379978214% {
    content: "Enjoy ☕";
  }
  /* string 3, char 8 */
  91.9389978214%, 92.3737276688% {
    content: "Enjoy ";
  }
  /* string 3, char 9 */
  92.3747276688%, 92.8094575163% {
    content: "Enjoy";
  }
  /* string 3, char 10 */
  92.8104575163%, 93.2451873638% {
    content: "Enjo";
  }
  /* string 3, char 11 */
  93.2461873638%, 93.6809172113% {
    content: "Enj";
  }
  /* string 3, char 12 */
  93.6819172113%, 94.1166470588% {
    content: "En";
  }
  /* string 3, char 13 */
  94.1176470588%, 94.5523769063% {
    content: "E";
  }
  /* string 3, char 14 */
  94.5533769063%, 100% {
    content: "​";
  }
}
@-webkit-keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: radial-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: "VT323", monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: "​";
  position: relative;
  top: -13px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  -webkit-animation: typed 18.36s linear 1s infinite, beam-blink 1s infinite;
          animation: typed 18.36s linear 1s infinite, beam-blink 1s infinite;
}
@media (max-width: 575px) {
  body::after {
    top: -33px;
  }
}
body::before {
  content: "3 strings / 52 chars / 18.36s duration";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
  background: #00f;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
  white-space: pre-wrap;
}
@media (max-width: 575px) {
  body::before {
    content: "3 strings \a 52 chars \a 18.36s duration";
  }
}
	* {			padding: 0;

			margin: 0;

			font-family: sans-serif;

		}

		body {

			background: yellowreen;

		}

		.container {

			text-align: center;

			position: absolute;

			top: 50%;

			left: 50%;

			transform: translate(-50%, -50%);

			width: 100%;

		}

		.container span {

			display: block;

		}

		.text1 {

			color: white;

			font-size: 25px;

			font-weight: 700;

			letter-spacing: 10px;

			margin-bottom: 30px;

			background: yellowgreen;

			position: relative;

			animation: text 5s 1;

		}

		.text2 {

			font-size: 20px;

			color: darkgreen;

			font-family: Georgia, serif;

		}

		@keyframes text {

			1% {

				color: black;

				margin-bottom: -40px;

			}

			30% {

				letter-spacing: 27px;

				margin-bottom: -40px;

			}

			85% {

				letter-spacing: 8px;

				margin-bottom: -40px;

			}

		}

    

.btn {

  background-color: #00cc66;

  border:none;

  color: white;

  padding: 5px 10px;

  cursor: pointer;

  font-size: 15px;

  border-radius: 10px;

}

/* Darker background on mouse-over */

.btn:hover {

  background-color: #00cc6;

 

border:none;

  color: white;

  padding: 5px 10px;

  cursor: pointer;

  font-size: 15px;

  border-radius: 10px;

}

HTML CSS Result Skip Results Iframe

/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

html{

  min-height: 100%;

  overflow: hidden;

}

bodly{

  height: calc(100vh - 8em);

  padding: 4em;

  color: rgba(255,255,255,.75);

  font-family: 'Anonymous Pro', monospace;  

  background-color: rgb(25,25,25);  

}

.lie-1{

    position: relative;

    top: 50%;  

    width: 24em;

    margin: 0 auto;

    border-right: 2px solid rgba(255,255,255,.75);

    font-size: 100%;

    text-align: center;

    white-space: nowrap;

    overflow: hidden;

    transform: translateY(-50%);    

}

/* Animation */

.anim-typewriter{

  animation: typewriter 2s steps(50) 1s 1 normal both,

             blinkTextCursor 500ms steps(44) infinite normal;

}

@keyframes typewriter{

  from{width: 0;}

  to{width: 24em;}

}

@keyframes blinkTextCursor{

  from{border-right-color: rgba(255,255,255,.75);}

  to{border-right-color: transparent;}

}

<!-- A1 -->

body{

  background: navajowhite;

  background-size: cover;

  font-family: 'Trebuchet MS', sans-serif; 

}

.containr{

  display: inline-block;

}

.typed-out{

  overflow: hidden;

  border-right: .1em solid-fix green ;

  white-space: nowrap;

  animation: 

    typing 15s forwards;

  font-size: 80%;

  width: 0;

}

.typed-out1{

  overflow: hidden;

  border-right: .1em solid-fix green ;

  white-space: nowrap;

  animation: 

    typing 29s forwards;

  font-size: 80%;

  width: 0;

}

.typed-out2{

  overflow: hidden;

  border-right: .15em solid-fix green ;

  white-space: nowrap;

  animation: 

    typing 50s forwards;

  font-size: 80%;

  width: 0;

  

}

@keyframes typing {

  from { width: 0 }

  to { width: 100% }

}
