html, body {
  height: 100%;
  width: 100%;
}
body {
  background: #;
}
bgc {
  background-color: gold;
}
fsize {
  font-size: 10px;
}
fv {
  background: orangered;
  border:none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 3px;
}
btoleft {
  font-size: 11px;
}